    <div class="container p-5">
        <h2>Featured Products</h2>
        <hr>
        <div class="row">
            {{#each docs}}
            <div class="col-md-3">
                <div class="card mb-3">
                    <a href="product/{{id}}"><img src="{{path}}" class="card-img-top" style="max-height: 120px;"></a>
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>{{title}}</strong></h5>
                        <p class="card-text text-center">${{price}}</p>
                        <a href="product/{{id}}"><button class="btn btn-lg btn-block btn-success">View Product</button></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{>footer}}